.DS_Store
node_modules/
dist/
build/
src/public/app-dist/
npm-debug.log
yarn-error.log
*.db
config.ini
cert.key
cert.crt
server-package.json
.idea/httpRequests/
data/
data-test/
tmp/
.eslintcache

out/

images/app-icons/png/512x512.png
images/app-icons/png/1024x1024.png
images/app-icons/mac/*.png
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
